# Imports

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

# Data cleaning

In [2]:
# Create data frames from files
men_dataframe = pd.read_csv("../data/medium_men_results.csv")
women_dataframe = pd.read_csv("../data/medium_women_results.csv")

In [3]:
# Clean any duplicated rows
men_dataframe.drop_duplicates(inplace=True)
women_dataframe.drop_duplicates(inplace=True)

In [4]:
# Concatenate data frames 
df = pd.concat([men_dataframe, women_dataframe])
df

,Position,Number,Name,Pos_in_swim,Swim_time,T1,Pos_in_bike,Bike_time,T2,Pos_in_run,Run_time,Race_control,Time,Rank,Category
0,1.,14,VINUELA GONZALEZ Kevin Tarek,3,17:25,1:29,1,1:08:58,55,4,23:41,Finish,1:52:29,1/28,ELM
1,2.,18,LEJEUNE Emmanuel,15,19:18,1:30,5,1:12:08,55,5,23:52,Finish,1:57:46,2/28,ELM
2,3.,7,DUPUIS Igor,2,17:23,1:30,8,1:12:56,53,18,25:24,Finish,1:58:07,3/28,ELM
3,4.,347,NAVARRO Thomas,29,20:02,1:42,4,1:11:27,56,7,24:24,Finish,1:58:34,4/28,ELM
4,5.,27,LEBOIS Paul,6,17:32,1:32,11,1:14:28,52,9,24:30,Finish,1:58:56,5/28,ELM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,STRT,1308,BARBARIN Pauline,-,NaN,NaN,-,NaN,NaN,-,NaN,start,0:00:00,-,F25-29
415,STRT,1406,ROY Sophie,-,NaN,NaN,-,NaN,NaN,-,NaN,start,0:00:00,-,F55-59
416,STRT,1473,MASSON Loriane,-,NaN,NaN,-,NaN,NaN,-,NaN,start,0:00:00,-,F25-29
417,STRT,1565,BREUILLE Michèle,-,NaN,NaN,-,NaN,NaN,-,NaN,start,0:00:00,-,F60-64
418,STRT,1566,BREUILLE Laure,-,NaN,NaN,-,NaN,NaN,-,NaN,start,0:00:00,-,F25-29

In [7]:
# Drop Did Not Finish (DNF) and non starting (STRT) rows
dataframe = df.copy()
dataframe = dataframe[~dataframe["Position"].isin(["DNF", "STRT"])]

In [8]:
# Unfortunately some racers were inaccurately recorded so we need to remove them
dataframe.dropna(axis=0, inplace=True)

In [9]:
# As during our webscraping we get only text data we have to convert columns
dataframe.dtypes

Position        object
Number           int64
Name            object
Pos_in_swim     object
Swim_time       object
T1              object
Pos_in_bike     object
Bike_time       object
T2              object
Pos_in_run      object
Run_time        object
Race_control    object
Time            object
Rank            object
Category        object
dtype: object

In [10]:
# Convert numeric columns into integers
dataframe = dataframe.astype({"Number": "int",
                              "Pos_in_swim": "int",
                              "Pos_in_bike": "int",
                              "Pos_in_run": "int"})

In [11]:
# Convert timing columns into date_time
dataframe["Swim_time"] = pd.to_datetime(dataframe["Swim_time"], format="%M:%S")
dataframe["T1"] = pd.to_datetime(dataframe["T1"], format="%M:%S")
dataframe["Bike_time"] = pd.to_datetime(dataframe["Bike_time"], format="%H:%M:%S")
dataframe["Time"] = pd.to_datetime(dataframe["Time"], format="%H:%M:%S")

In [12]:
dataframe

,Position,Number,Name,Pos_in_swim,Swim_time,T1,Pos_in_bike,Bike_time,T2,Pos_in_run,Run_time,Race_control,Time,Rank,Category
0,1.,14,VINUELA GONZALEZ Kevin Tarek,3,1900-01-01 00:17:25,1900-01-01 00:01:29,1,1900-01-01 01:08:58,55,4,23:41,Finish,1900-01-01 01:52:29,1/28,ELM
1,2.,18,LEJEUNE Emmanuel,15,1900-01-01 00:19:18,1900-01-01 00:01:30,5,1900-01-01 01:12:08,55,5,23:52,Finish,1900-01-01 01:57:46,2/28,ELM
2,3.,7,DUPUIS Igor,2,1900-01-01 00:17:23,1900-01-01 00:01:30,8,1900-01-01 01:12:56,53,18,25:24,Finish,1900-01-01 01:58:07,3/28,ELM
3,4.,347,NAVARRO Thomas,29,1900-01-01 00:20:02,1900-01-01 00:01:42,4,1900-01-01 01:11:27,56,7,24:24,Finish,1900-01-01 01:58:34,4/28,ELM
4,5.,27,LEBOIS Paul,6,1900-01-01 00:17:32,1900-01-01 00:01:32,11,1900-01-01 01:14:28,52,9,24:30,Finish,1900-01-01 01:58:56,5/28,ELM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,1405.,283,FLASSE Vic,895,1900-01-01 00:32:56,1900-01-01 00:06:46,1401,1900-01-01 03:07:11,3:14,1383,1:01:05,Finish,1900-01-01 04:51:15,25/26,F20-24
367,1406.,1554,CAMILLE Bensiam,871,1900-01-01 00:32:41,1900-01-01 00:05:26,1400,1900-01-01 03:06:01,2:51,1391,1:06:34,Finish,1900-01-01 04:53:36,81/93,F25-29
368,1407.,1167,MOUROT Anne-Lise,1108,1900-01-01 00:35:16,1900-01-01 00:03:42,1405,1900-01-01 03:13:29,1:48,1381,1:00:22,Finish,1900-01-01 04:54:38,45/52,F45-49
370,1409.,745,SHE Michelle,1410,1900-01-01 00:45:53,1900-01-01 00:09:10,1393,1900-01-01 03:01:21,3:19,1384,1:01:48,Finish,1900-01-01 05:01:33,82/93,F25-29
371,1410.,266,JUEZ PONCE Anouska,1438,1900-01-01 00:56:04,1900-01-01 00:10:05,1371,1900-01-01 02:45:43,2:50,1392,1:06:49,Finish,1900-01-01 05:01:33,75/81,F30-34

In [13]:
# As T2 & Run_time have different timings we have to fix that
dataframe["T2"] = dataframe["T2"].apply(lambda x: "00:" + x if len(x) == 2 else x)
dataframe["Run_time"] = dataframe["Run_time"].apply(lambda x: "00:" + x if len(x) <= 5 else x)

In [14]:
# Convert remaining columns into times
dataframe["T2"] = pd.to_datetime(dataframe["T2"], format="%M:%S")
dataframe["Run_time"] = pd.to_datetime(dataframe["Run_time"], format="%H:%M:%S")

In [15]:
dataframe

,Position,Number,Name,Pos_in_swim,Swim_time,T1,Pos_in_bike,Bike_time,T2,Pos_in_run,Run_time,Race_control,Time,Rank,Category
0,1.,14,VINUELA GONZALEZ Kevin Tarek,3,1900-01-01 00:17:25,1900-01-01 00:01:29,1,1900-01-01 01:08:58,1900-01-01 00:00:55,4,1900-01-01 00:23:41,Finish,1900-01-01 01:52:29,1/28,ELM
1,2.,18,LEJEUNE Emmanuel,15,1900-01-01 00:19:18,1900-01-01 00:01:30,5,1900-01-01 01:12:08,1900-01-01 00:00:55,5,1900-01-01 00:23:52,Finish,1900-01-01 01:57:46,2/28,ELM
2,3.,7,DUPUIS Igor,2,1900-01-01 00:17:23,1900-01-01 00:01:30,8,1900-01-01 01:12:56,1900-01-01 00:00:53,18,1900-01-01 00:25:24,Finish,1900-01-01 01:58:07,3/28,ELM
3,4.,347,NAVARRO Thomas,29,1900-01-01 00:20:02,1900-01-01 00:01:42,4,1900-01-01 01:11:27,1900-01-01 00:00:56,7,1900-01-01 00:24:24,Finish,1900-01-01 01:58:34,4/28,ELM
4,5.,27,LEBOIS Paul,6,1900-01-01 00:17:32,1900-01-01 00:01:32,11,1900-01-01 01:14:28,1900-01-01 00:00:52,9,1900-01-01 00:24:30,Finish,1900-01-01 01:58:56,5/28,ELM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,1405.,283,FLASSE Vic,895,1900-01-01 00:32:56,1900-01-01 00:06:46,1401,1900-01-01 03:07:11,1900-01-01 00:03:14,1383,1900-01-01 01:01:05,Finish,1900-01-01 04:51:15,25/26,F20-24
367,1406.,1554,CAMILLE Bensiam,871,1900-01-01 00:32:41,1900-01-01 00:05:26,1400,1900-01-01 03:06:01,1900-01-01 00:02:51,1391,1900-01-01 01:06:34,Finish,1900-01-01 04:53:36,81/93,F25-29
368,1407.,1167,MOUROT Anne-Lise,1108,1900-01-01 00:35:16,1900-01-01 00:03:42,1405,1900-01-01 03:13:29,1900-01-01 00:01:48,1381,1900-01-01 01:00:22,Finish,1900-01-01 04:54:38,45/52,F45-49
370,1409.,745,SHE Michelle,1410,1900-01-01 00:45:53,1900-01-01 00:09:10,1393,1900-01-01 03:01:21,1900-01-01 00:03:19,1384,1900-01-01 01:01:48,Finish,1900-01-01 05:01:33,82/93,F25-29
371,1410.,266,JUEZ PONCE Anouska,1438,1900-01-01 00:56:04,1900-01-01 00:10:05,1371,1900-01-01 02:45:43,1900-01-01 00:02:50,1392,1900-01-01 01:06:49,Finish,1900-01-01 05:01:33,75/81,F30-34

In [16]:
# Set the right date of race
date_time_columns = list(dataframe.select_dtypes(include = ["datetime64[ns]"]).columns)
for column in date_time_columns:
    dataframe[column] = dataframe[column].astype(str)
    dataframe[column] = dataframe[column].apply(lambda x: x.replace("1900-01-01", "2023-07-28"))
    dataframe[column] = pd.to_datetime(dataframe[column])

In [17]:
# Reorder the data frame
dataframe.sort_values(by = "Time", ascending=True, inplace=True)

In [26]:
# Create a new position column as index
dataframe["New_position"] = range(1, len(dataframe) + 1)
dataframe.reset_index(drop=True)

,Position,Number,Name,Pos_in_swim,Swim_time,T1,Pos_in_bike,Bike_time,T2,Pos_in_run,Run_time,Race_control,Time,Rank,Category,New_position
0,1.,14,VINUELA GONZALEZ Kevin Tarek,3,2023-07-28 00:17:25,2023-07-28 00:01:29,1,2023-07-28 01:08:58,2023-07-28 00:00:55,4,2023-07-28 00:23:41,Finish,2023-07-28 01:52:29,1/28,ELM,1
1,2.,18,LEJEUNE Emmanuel,15,2023-07-28 00:19:18,2023-07-28 00:01:30,5,2023-07-28 01:12:08,2023-07-28 00:00:55,5,2023-07-28 00:23:52,Finish,2023-07-28 01:57:46,2/28,ELM,2
2,3.,7,DUPUIS Igor,2,2023-07-28 00:17:23,2023-07-28 00:01:30,8,2023-07-28 01:12:56,2023-07-28 00:00:53,18,2023-07-28 00:25:24,Finish,2023-07-28 01:58:07,3/28,ELM,3
3,4.,347,NAVARRO Thomas,29,2023-07-28 00:20:02,2023-07-28 00:01:42,4,2023-07-28 01:11:27,2023-07-28 00:00:56,7,2023-07-28 00:24:24,Finish,2023-07-28 01:58:34,4/28,ELM,4
4,5.,27,LEBOIS Paul,6,2023-07-28 00:17:32,2023-07-28 00:01:32,11,2023-07-28 01:14:28,2023-07-28 00:00:52,9,2023-07-28 00:24:30,Finish,2023-07-28 01:58:56,5/28,ELM,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,1405.,283,FLASSE Vic,895,2023-07-28 00:32:56,2023-07-28 00:06:46,1401,2023-07-28 03:07:11,2023-07-28 00:03:14,1383,2023-07-28 01:01:05,Finish,2023-07-28 04:51:15,25/26,F20-24,1211
1211,1406.,1554,CAMILLE Bensiam,871,2023-07-28 00:32:41,2023-07-28 00:05:26,1400,2023-07-28 03:06:01,2023-07-28 00:02:51,1391,2023-07-28 01:06:34,Finish,2023-07-28 04:53:36,81/93,F25-29,1212
1212,1407.,1167,MOUROT Anne-Lise,1108,2023-07-28 00:35:16,2023-07-28 00:03:42,1405,2023-07-28 03:13:29,2023-07-28 00:01:48,1381,2023-07-28 01:00:22,Finish,2023-07-28 04:54:38,45/52,F45-49,1213
1213,1409.,745,SHE Michelle,1410,2023-07-28 00:45:53,2023-07-28 00:09:10,1393,2023-07-28 03:01:21,2023-07-28 00:03:19,1384,2023-07-28 01:01:48,Finish,2023-07-28 05:01:33,82/93,F25-29,1214
1214,1410.,266,JUEZ PONCE Anouska,1438,2023-07-28 00:56:04,2023-07-28 00:10:05,1371,2023-07-28 02:45:43,2023-07-28 00:02:50,1392,2023-07-28 01:06:49,Finish,2023-07-28 05:01:33,75/81,F30-34,1215

In [35]:
# Rework ranking column as we have remove rows and competitors
list(dataframe["Category"].unique())

['ELM',
 'M20-24',
 'M25-29',
 'M50-54',
 'M35-39',
 'M18-19',
 'ELF',
 'M45-49',
 'M30-34',
 'M40-44',
 'EQ',
 'M55-59',
 'F30-34',
 'F18-19',
 'F35-39',
 'F20-24',
 'F40-44',
 'F25-29',
 'F45-49',
 'M60-64',
 'F50-54',
 'M65-69',
 'XXX',
 'M75-79',
 'F60-64',
 'F55-59',
 'M70-74',
 'F65-69']

# Data analysis

In [29]:
# Display 10 first rows
dataframe.head(10)

,Number,Name,Pos_in_swim,Swim_time,T1,Pos_in_bike,Bike_time,T2,Pos_in_run,Run_time,Race_control,Time,Rank,Category
Position,,,,,,,,,,,,,,
1.,14,VINUELA GONZALEZ Kevin Tarek,3,2023-07-28 00:17:25,2023-07-28 00:01:29,1,2023-07-28 01:08:58,2023-07-28 00:00:55,4,2023-07-28 00:23:41,Finish,2023-07-28 01:52:29,1/28,ELM
2.,18,LEJEUNE Emmanuel,15,2023-07-28 00:19:18,2023-07-28 00:01:30,5,2023-07-28 01:12:08,2023-07-28 00:00:55,5,2023-07-28 00:23:52,Finish,2023-07-28 01:57:46,2/28,ELM
3.,7,DUPUIS Igor,2,2023-07-28 00:17:23,2023-07-28 00:01:30,8,2023-07-28 01:12:56,2023-07-28 00:00:53,18,2023-07-28 00:25:24,Finish,2023-07-28 01:58:07,3/28,ELM
4.,347,NAVARRO Thomas,29,2023-07-28 00:20:02,2023-07-28 00:01:42,4,2023-07-28 01:11:27,2023-07-28 00:00:56,7,2023-07-28 00:24:24,Finish,2023-07-28 01:58:34,4/28,ELM
5.,27,LEBOIS Paul,6,2023-07-28 00:17:32,2023-07-28 00:01:32,11,2023-07-28 01:14:28,2023-07-28 00:00:52,9,2023-07-28 00:24:30,Finish,2023-07-28 01:58:56,5/28,ELM
6.,585,PETRALIA Jan,63,2023-07-28 00:22:05,2023-07-28 00:01:49,2,2023-07-28 01:10:07,2023-07-28 00:01:20,3,2023-07-28 00:23:36,Finish,2023-07-28 01:58:58,6/28,ELM
7.,29,LAWSON Théotime,16,2023-07-28 00:19:19,2023-07-28 00:01:32,9,2023-07-28 01:13:10,2023-07-28 00:01:00,11,2023-07-28 00:24:37,Finish,2023-07-28 01:59:41,7/28,ELM
8.,16,MANTULET Gabin,25,2023-07-28 00:19:55,2023-07-28 00:01:41,6,2023-07-28 01:12:11,2023-07-28 00:00:52,17,2023-07-28 00:25:18,Finish,2023-07-28 01:59:59,8/28,ELM
9.,66,VOTTIER Antoine,1,2023-07-28 00:17:22,2023-07-28 00:01:30,17,2023-07-28 01:15:33,2023-07-28 00:00:50,15,2023-07-28 00:25:05,Finish,2023-07-28 02:00:22,1/72,M20-24
10.,17,PORAS Maxime,14,2023-07-28 00:19:17,2023-07-28 00:01:26,12,2023-07-28 01:14:43,2023-07-28 00:00:51,14,2023-07-28 00:24:55,Finish,2023-07-28 02:01:15,9/28,ELM

In [30]:
# Check for duplicates rows
dataframe[dataframe.duplicated()]

Empty DataFrame
Columns: [Number, Name, Pos_in_swim, Swim_time, T1, Pos_in_bike, Bike_time, T2, Pos_in_run, Run_time, Race_control, Time, Rank, Category]
Index: []

In [31]:
# Check for NaN
dataframe.isnull().values.any()

False

In [32]:
# Get some data to compare
my_row = dataframe[dataframe["Name"] == "GINOUX Etienne"]
my_row

,Number,Name,Pos_in_swim,Swim_time,T1,Pos_in_bike,Bike_time,T2,Pos_in_run,Run_time,Race_control,Time,Rank,Category
Position,,,,,,,,,,,,,,
1311.,954,GINOUX Etienne,1246,2023-07-28 00:38:09,2023-07-28 00:14:01,1270,2023-07-28 02:26:27,2023-07-28 00:03:59,876,2023-07-28 00:40:46,Finish,2023-07-28 04:03:25,168/200,M25-29